/*@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=Lato:400);
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);*/
/*!
* Author: Åukasz Holeczek
* Template: Genius Dashboard - Bootstrap Admin Template
* Version: 2.1.0 
* Bootstrap version: 3.0.0
* Copyright 2013 creativeLabs
* www: http://bootstrapmaster.com
* mail: lukasz@bootstrapmaster.com
* You can buy this theme on WrapBootstrap: http://bootstrapmaster.com
* You can find our other themes on: https://bootstrapmaster.com
*/

.no-space [class*="span"]{
	margin-left:0
}

.noMarginLeft{
	margin-left:0!important
}

.noPadding{
	padding:0!important
}

body{
	background:#2c2c2c;
	color:#34383c;
	border:0;
	font-family:'Lato',sans-serif;
	font-weight:400;
	margin:0;
	padding:0;
	position:relative
}

body:after{
	top:0;
	left:201px;
	margin-left:201px;
	position:absolute;
	content:'';
	height:100%;
	background:yellow;
	border-left:1px solid yellow;
	z-index:0
}

body:before{
	content:'';
	position:absolute;
	background:red;
	width:50%;
	height:100%;
	top:0;
	right:0;
	z-index:0
}

body.sidebar-minified:after{
	top:0;
	left:42px!important;
	margin-left:-1px;
	margin-right:40px;
	position:absolute;
	content:'';
	height:100%;
	background:purple;
	border-left:0px solid purple;
	z-index:0
}

a{
	color:#34383c
}
a:focus {
    outline: none;
}
h1{
	font-size:32px;
	line-height:32px;
	font-weight:300
}

h2{
	font-size:16px;
	line-height:16px;
	font-weight:300
}

h3{
	font-size:15px;
	line-height:15px
}

h4{
	font-size:14px;
	line-height:14px
}

h5{
	font-size:13px;
	line-height:13px
}

h6{
	font-size:12px;
	line-height:12px
}

#content{
	margin-left:201px;
	margin-right:0;
	padding:20px;
	position:relative;
	background:#f0f0f0;
	z-index:1
}

#content:before{
	position:absolute;
	content:'';
	height:100%;
	width:1px;
	border-left:1px solid #dbdee0;
	z-index:1;
	top:0;
	left:-1px
}

#content.sidebar-minified{
	width:100%!important;
	border-left:41px solid #2c2c2c;
	margin-right:1px!important
}

#content.full{
	width:100%!important;
	margin-left:0!important;
	margin-right:0!important;
	border:none!important
}
#content .row {
	margin-bottom:20px;
}
a.navbar-brand{
	position:absolute;
	width:auto;
	left:40px;
	z-index:2;
	font-size:x-large;
	padding:14px 0 10px 15px!important;
	color:#fff!important;
}

a.navbar-brand>small{
	font-size: large;
	color:#ddd;
	position:relative;
}

a.navbar-brand.noBgx{
	background:#34383c;
	border-bottom:0
}

a.navbar-brand:hover{
	background:#282b2e
}



.navbar{
	margin:0;
	min-height:50px;
	border:0;
	background:#333/*#34383c*/;
	/*background-color: #555;
    background-image: linear-gradient(to bottom, #555, #444);
    background-repeat: repeat-x;*/
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	border-bottom:1px solid #404040;
}
.navbar a{
	color:#7b7b7b
}

.navbar a i{
	margin-top:2px
}

.navbar .navbar-top{
	background:rgba(0,0,0,0.2);
}

.navbar a:hover i{
	opacity:.8;
	filter:alpha(opacity=80);
	-ms-filter:"alpha(opacity=80)"
}

.navbar-default .navbar-top > .navbar-nav > .open > a, 
.navbar-default .navbar-top > .navbar-nav > .open > a:hover, 
.navbar-default .navbar-top > .navbar-nav > .open > a:focus {
    border:1px solid transparent!important;
    background-color: transparent;
}
.navbar-top a.btn {
	position:relative;
	height:40px;
	min-width:30px;
	background:transparent;
	color:#ddd!important;
	text-shadow:none!important;
	padding:10px 0!important;
	margin:5px 3px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px!important;
	font-size:12px
}
.navbar-top a i {
	font-size: medium;
	color: rgba(0,0,0,0.5);
    text-shadow: 1px 1px 0px rgba(255,255,255,0.1);
	-webkit-text-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    -moz-text-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    text-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15); 
}
.navbar-top a i.active,
.navbar-top a.btn.account .avatar i
{
	color: rgba(255,255,255,0.4);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
}
.navbar-top a span.number {
	position:relative;
	display:inline-block;
	top:-10px;
	right:-2px;
	font-size:9px;
	font-weight:bold;
	padding:3px;
	margin-left:-5px;
	margin-top:-15px;
	white-space: nowrap;
    vertical-align: baseline;
	line-height: 1;
	text-align: center;
	border-radius:0.25em 0.25em 0.25em 0.25em;
	-moz-box-shadow:    1px 1px 1px 1px #000;
	-webkit-box-shadow: 1px 1px 0px 1px #000;
	box-shadow:         0px 1px 2px -1px #000;
}

.navbar-top a.btn.account {
	border-left:1px solid #555;
}
.avatar-sm,.avatar,.avatar-lg {
    float: left;
	margin:-7px 15px;
    padding: 0px;
	border-radius:100%;
	background: none repeat scroll 0% 0% rgba(0,0,0,0.4);
    -moz-box-shadow:     1px 1px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow:  1px 1px 0px rgba(255,255,255,0.5);
	box-shadow:         0px 0px 1px rgba(255,255,255,0.5);
	width: 40px;
	height:40px;
}
.avatar-sm i,.avatar i,.avatar-lg i {
	font-style:normal;
    text-align: center;
    color: #ccc;
    padding: 5px;
    width: 38px;
	height:38px;
	margin:1px
}
.avatar-sm img,.avatar img,.avatar-lg img {
    width: 38px;
	height:38px;
	border-radius:100%;
	margin:1px
}
.avatar-sm {
	width: 30px;
	height:30px;
}
.avatar-sm i,.avatar-sm img {
    width: 28px;
	height:28px;
}
.avatar-lg {
	width: 60px;
	height:60px;
}
.avatar-lg i,.avatar-lg img {
    width: 57px;
	height:57px;
}
/* END AVATAR */

.navbar-top .user {
    display: inline-block;
	float:left;
    text-align: left;
    margin: -10px 20px 0 0;
    padding: 0px;
}
.navbar-top .user .hello {
    display: block;
    font-size: 10px;
    font-weight: bold;
}
.navbar-top .user .name {
    display: block;
    margin-top: -6px !important;
    font-size: 13px;
	color:#ccc
}

a[class^="nav-toggle"]{
	background:rgba(0,0,0,0.1);
	float:left;
	width:40px;
	height:49px;
	z-index:1000;
	padding:13px;
	text-shadow:none;
	text-decoration:none;
	cursor:pointer;
	font-size:large;
	line-height: normal;
}
a[class^="nav-toggle"] i {
	font-family:'FontAwesome';
	font-style: normal;
	color:white!important;
}
a.nav-toggle-right{
	float:right;
}
a#main-menu-toggle.open i:after{
	content:"\f104";
}
a#main-menu-toggle.sidebar-minified i:after{
	content:"\f100";
}
a#main-menu-toggle.close i:after{
	content:"\f101";
}

/*BREADCRUMB*/
.breadcrumb {
    background: #ddd;
    height: 39px;
	margin:-30px -30px 30px -30px;
	padding:0;
    font-size: 13px;
    color: rgb(31, 31, 31);
    border-radius: 0px;
	border-bottom:1px solid #c5c5c5;
	overflow: hidden; 
}
.breadcrumb li { 
	float: left;
	line-height:38px
}
.breadcrumb li a {
	color: #777;
	text-decoration: none; 
	padding: 0px 0px 0px 35px;
	position: relative; 
	display: block;
	float: left;
	line-height:38px;
}
.breadcrumb li a:hover { background: #ccc; }
.breadcrumb li a:hover:after { border-left-color: #ccc !important; }

.breadcrumb li:not(:last-child) a:after { 
	content: ""; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 30px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 30px solid transparent;
	border-left: 20px solid #ddd;
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -30px;
	z-index: 2; 
}
.breadcrumb li a:before { 
	content: ""; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 30px solid transparent;       
	border-bottom: 30px solid transparent;
	border-left: 20px solid #bbb;
	position: absolute;
	top: 50%;
	margin-top: -30px; 
	margin-left: 1px;
	margin-right:5px;
	left: 100%;
	z-index: 1; 
}
.breadcrumb>li+li:before{
	margin:0 5px;
	content:""
}
/*SIDEBAR*/
div.row.sb {
	background-image: linear-gradient(to bottom, rgb(44, 44, 44), rgb(57,57, 57));
    background-repeat: repeat-y;
	background-position:40px 0px;
}
#sidebar-left{
	min-height:0;
	padding:0px!important;
	z-index:2;
}
.sidebar-nav{
	padding:0;
}
.sidebar-nav>ul{
	border:0;
	padding-bottom:1px;
	font-size:12px;
	white-space:nowrap
}

.sidebar-nav ul.submenu{
	list-style:none;
	display:none;
	margin:0;
	padding:0
}
.sidebar-nav li.active>ul.submenu{
	list-style:none;
	display:block;
	margin:0;
	padding:0
}

.nav.nav-list>li{
	margin-top:-1px
}

.nav.nav-list li a,
.nav.nav-list li.open a{
	margin:0;
	height:40px;
	padding:0 0 0 0;
	color:#aaa;
	border:1px solid #404040/*#dbdee0*/;
	border-width: 0 1px 1px 0;
	background:transparent;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	text-decoration:none;
	display:block;
	position:relative
}

.nav.nav-list li a .chevron{
	font-family:'FontAwesome';
	position:absolute;
	top:2px;
	right:-5px;
	height:40px;
	width:40px;
	padding:12px 0;
	display:inline-block;
	text-align:center;
	font-size:10px;
	color:#b2b8bd!important
}

.nav.nav-list li a .chevron.opened:after{
	height:100%;
	width:100%;
	content:"\f078";
	text-shadow:none
}

.nav.nav-list li a .chevron.closed:after{
	height:100%;
	width:100%;
	content:"\f054";
	text-shadow:none;
	color:#b2b8bd!important
}


.nav.nav-list li>a>i{
	margin-right:10px;
	height:38px;
	width:40px;
	padding:6px 0;
	display:inline-block;
	font-size:18px;
	text-align:center;
	margin-top:1px;
	background-color:rgba(0,0,0,0.1)
}
.nav.nav-list li.active>a{
	background:rgba(0,0,0,0.4);
	color:#fff;
}
.nav.nav-list li.active>a>i{
	background-color: rgba(102,102,204,0.5);
	margin-left:1px;
	margin-top:2px;
	height:36px;
	width:38px;
	color:#fff;
}

.nav.nav-list ul.submenu>li a{
	border-bottom:1px solid #404040;
	background:#3f3f3f;
	font-size:0.9em
}
.nav.nav-list ul.submenu>li:last-child a{
	border-bottom:1px solid #404040!important;
}
.nav.nav-list ul.submenu>li a i{
	margin-right:10px;
	height:38px;
	width:40px;
	padding:13px 0;
	display:inline-block;
	text-align:center;
	font-size:11px;
	color:#999;
	background-color:rgba(0,0,0,0.1)
}
/*sini*/

.nav.nav-list li a:hover{
	background:rgba(0,0,0,0.1);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}

.nav.nav-list li a:hover{
	background:rgba(0,0,0,0.4);
}
.nav.nav-list ul.submenu>li a:hover{
	background:rgba(0,0,0,0.1);
}

.nav.nav-list ul.submenu>li.open>a{
	background:red
}




#sidebar-left.minified{
	width:40px!important;
	margin-right:-40px
}

#sidebar-left.minified .sidebar-nav>ul>li{
	position:relative
}

#sidebar-left.minified .sidebar-nav>ul>li>a{
	width:40px;
	position:relative;
}

#sidebar-left.minified .sidebar-nav>ul>li>a.open{
	cursor:default
}
#sidebar-left.minified .sidebar-nav>ul>li>a .chevron{
	display:none;
	position:absolute;
	left:178px;
	z-index:1000
}

#sidebar-left.minified .sidebar-nav>ul>li>ul>li a{
	margin-top:-1px;
	border-top:1px solid #404040;
	/*margin-left:-2px;
	border-left:1px solid red;*/
	border-bottom:0;
}
#sidebar-left.minified .sidebar-nav>ul>li>a .menu-text{
	position:absolute;
	z-index:1000;
	background:#e9ebec;
	min-height:40px;
	width:150px;
	padding:8px 15px;
	border:1px solid #dbdee0;
	top:0;
	left:39px;
	display:none!important
}

#sidebar-left.minified .sidebar-nav>ul>li>ul{
	display:none!important
}

#sidebar-left.minified .sidebar-nav>ul>li:hover>a{
	position:relative;
	border-right:1px solid red
}

#sidebar-left.minified .sidebar-nav>ul>li:hover>a .chevron{
	display:inline-block
}

#sidebar-left.minified .sidebar-nav>ul>li:hover>a .menu-text{
	position:absolute;
	z-index:1001;
	background:#333;
	min-height:40px;
	width:180px;
	padding:8px 15px;
	border:1px solid #404040;
	border-left:1px solid #404040;
	border-right:1px solid #404040;
	top:0;
	left:39px;
	display:block!important
}

#sidebar-left.minified .sidebar-nav>ul>li:hover>ul{
	display:block!important;
	position:absolute;
	top:39px;
	left:39px;
	z-index:1000;
	width:180px;
	background:#333;
	border:1px solid #404040;
	border-bottom:0
}


@media (max-width: 767px) {
	div.row.sb {
		background:none!important;
	}
	.container #content{
		padding:15px;
		margin:0;
		height:100%;
		margin-left:0px;
		/*width:83.5%*/
	}
	.container .breadcrumb{
		margin:-15px -15px 30px -30px;
	}
	.navbar-collapse {
		max-height: none;
		width:100%;
		border-top: 0px none;
		box-shadow: none;
		overflow-x: hidden;
		overflow-y: hidden!important;
		padding-right: 0px;
		padding-left: 0px;
	}
	#sidebar-left{
		min-height:0;
		padding:0!important
	}

	.sidebar-nav{
		border-bottom:1px solid #dbdee0
	}

	.sidebar-nav>ul{
		margin:0;
		background:#333
	}
	.container{
		max-width:100%!important
	}
	a[class^="nav-toggle"]{
		background:rgba(0,0,0,0);
	}
}
@media (max-width: 991px) {
	.container{
		max-width:100%!important
	}
	a.navbar-brand{
		font-size:large;
		padding:14px 0 10px 15px!important;
		color:#eee!important;
	}
	a.navbar-brand>small{
		color:#aaa;
		position:relative;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.container{
		max-width:100%!important
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.container #content{
		padding:30px;
		margin:0;
		height:100%;
		margin-left:41px;
		/*width:83.5%*/
	}
	#content.sidebar-minified{
		margin-left:0px;
	}
	#sidebar-left{
		width:40px!important;
		margin-right:-40px;
	}
	
	#sidebar-left .sidebar-nav>ul>li{
		position:relative
	}
	
	#sidebar-left .sidebar-nav>ul>li>a{
		width:40px;
		position:relative;
		display:inline-block
	}
	
	#sidebar-left .sidebar-nav>ul>li>a.open{
		cursor:default
	}
	#sidebar-left .sidebar-nav>ul>li>a .chevron{
		display:none;
		position:absolute;
		left:178px;
		z-index:1000
	}
	
	#sidebar-left .sidebar-nav>ul>li>ul>li a{
		margin-top:-1px;
		border-top:1px solid #404040;
		/*margin-left:-2px;
		border-left:1px solid red;*/
		border-bottom:0;
	}
	#sidebar-left .sidebar-nav>ul>li>a .menu-text{
		position:absolute;
		z-index:1000;
		background:#e9ebec;
		min-height:40px;
		width:150px;
		padding:8px 15px;
		border:1px solid #dbdee0;
		top:0;
		left:39px;
		display:none!important
	}
	
	#sidebar-left .sidebar-nav>ul>li>ul{
		display:none!important
	}
	
	#sidebar-left .sidebar-nav>ul>li:hover>a{
		position:relative;
		border-right:1px solid red
	}
	
	#sidebar-left .sidebar-nav>ul>li:hover>a .chevron{
		display:inline-block
	}
	
	#sidebar-left .sidebar-nav>ul>li:hover>a .menu-text{
		position:absolute;
		z-index:1001;
		background:#333;
		min-height:40px;
		width:180px;
		padding:8px 15px;
		border:1px solid #404040;
		border-left:1px solid #404040;
		border-right:1px solid #404040;
		top:0;
		left:39px;
		display:block!important
	}
	
	#sidebar-left .sidebar-nav>ul>li:hover>ul{
		display:block!important;
		position:absolute;
		top:39px;
		left:39px;
		z-index:1000;
		width:180px;
		background:#333;
		border:1px solid #404040;
		border-bottom:0
	}
}
@media only screen and (min-width:992px) {
	/*.hidden-xs,.hidden-sm,.hidden-md,.hidden-lg{
		display:inline-block!important
	}
	.visible-lg {
		display:inline-block!important;
	}*/
	a.navbar-brand{
		position:absolute;
		width:14.422%;
		left:40px;
		z-index:0
	}

	.navbar-collapse{
		max-height:100%
	}

	.container{
		max-width:100%!important
	}

	.container #content{
		padding:30px;
		margin:0;
		height:100%;
		margin-left:201px;
		/*width:83.5%*/
	}
	#content.sidebar-minified{
		margin-left:0px;
	}
	.container #sidebar-left{
		width:200px;
		float:left
	}

	.container .breadcrumb{
		margin:-30px -30px 30px -30px;
		padding:0
	}

}