/* 
    Skins
    -----
*/
/* 
    skin-blue 
    ---------
*/
/* skin-blue navbar */
.skin-blue .navbar {
  background-color: #CE061D;
}
.skin-blue .navbar .nav a {
  color: #acd0e5;
}
.skin-blue .navbar .nav > li > a:hover,
.skin-blue .navbar .nav > li > a:active,
.skin-blue .navbar .nav > li > a:focus,
.skin-blue .navbar .nav .open > a,
.skin-blue .navbar .nav .open > a:hover,
.skin-blue .navbar .nav .open > a:focus {
  background: #F0273F;
  color: #f6f6f6;
}
.skin-blue .navbar .navbar-right > .nav {
  margin-right: 10px;
}
.skin-blue .navbar .sidebar-toggle .icon-bar {
  background: #acd0e5;
}
/* skin-blue logo */
.skin-blue .logo {
  background-color: #F0273F;
  color: #f9f9f9;
}
.skin-blue .logo > a {
  color: #f9f9f9;
}
.skin-blue .logo:hover {
  background: #F64E62;
}
/* Skin-blue user panel */
.skin-blue .user-panel > .image > img {
  border: 1px solid #dfdfdf;
}
.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
  color: #555555;
}
/* skin-blue sidebar */
.skin-blue .sidebar {
  border-bottom: 1px solid #fff;
}
.skin-blue .sidebar > .sidebar-menu > li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dbdbdb;
}
.skin-blue .sidebar > .sidebar-menu > li:first-of-type {
  border-top: 1px solid #dbdbdb;
}
.skin-blue .sidebar > .sidebar-menu > li:first-of-type > a {
  border-top: 1px solid #fff;
}
.skin-blue .sidebar > .sidebar-menu > li > a {
  margin-right: 1px;
}
.skin-blue .sidebar > .sidebar-menu > li > a:hover,
.skin-blue .sidebar > .sidebar-menu > li.active > a {
  color: #222;
  background: #f9f9f9;
}
.skin-blue .sidebar > .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #f9f9f9;
}
.skin-blue .left-side {
  background: #f4f4f4;
  -webkit-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.07);
}
.skin-blue .sidebar a {
  color: #555555;
}
.skin-blue .sidebar a:hover {
  text-decoration: none;
}
.skin-blue .treeview-menu > li > a {
  color: #777;
}
.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover {
  color: #111;
}
.skin-blue .sidebar-form {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  margin: 10px 10px;
}
.skin-blue .sidebar-form input[type="text"],
.skin-blue .sidebar-form .btn {
  box-shadow: none;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  height: 35px;
}
.skin-blue .sidebar-form input[type="text"] {
  color: #666;
  -webkit-border-top-left-radius: 2px !important;
  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 2px !important;
  -moz-border-radius-topleft: 2px !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -moz-border-radius-bottomleft: 2px !important;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.skin-blue .sidebar-form input[type="text"]:focus,
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-blue .sidebar-form .btn {
  color: #999;
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-top-right-radius: 2px !important;
  -webkit-border-bottom-right-radius: 2px !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-topright: 2px !important;
  -moz-border-radius-bottomright: 2px !important;
  -moz-border-radius-bottomleft: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
}


/* LAT INDEPENDENT */
.topbar {
	margin:0 0 20px 0;
	background:#e6e6e6;
	background: linear-gradient(to bottom, rgb(220, 220, 220), rgb(229, 229, 229)) repeat scroll 0% 0% transparent;
	border-radius:0px!important;
}
.topbar form {
	margin-top:6px;
	margin-right:-15px
}
.tab-bar {
	list-style: none;
	margin: 10px;
}
ul.tab-bar  {
	padding:0px;
	margin:3px 5px 5px;
	margin-left:-14px!important;
}
.tab-bar:after {
	clear: both;
}
.tab-bar:after, .tab-bar:before {
	display: table;
	line-height: 0;
	content: "";
}
.tab-bar.grey-tab {
}
.tab-bar>li {
	display: inline-block;
	float: left;
}
.tab-bar.grey-tab li a {
	color: #aaa;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: transparent;
	text-shadow: 0 1px 0 #fff;
	min-width:50px;
	text-align:center;
	text-decoration:none;
	margin:2px;
	margin-bottom:-2px;
	background:#fafafa;
	border:1px solid #ddd;
}
.tab-bar.grey-tab li a i {
	margin-right: 0px;
}
.tab-bar>li a {
	display: block;
	padding: 7px 10px;
	color: #ccc;
	text-shadow: 0 1px #fff;
	transition: color .2s ease;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
}
.tab-bar>li a:hover {
	background:#f4f4f4;
	color:#777;
}
.tab-bar.grey-tab li.active a {
	/*border: transparent;*/
}
.tab-bar>li.active a {
	background: #eee;
	color: #777;
	border:1px solid #ccc;
	-webkit-box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.1);
	box-shadow: inset 2px 3px 9px 2px rgba(0,0,0,0.1);
}
.tab-content{
	padding:20px 15px;
	border:1px solid #ddd;
	border-top-width:0
}


/**/
.sidebar .sidebar-menu > li > a {
    display: block;
    padding: 12px 5px 12px 15px;
}
.sidebar .sidebar-menu > li > a > i:first-child {
    display: inline-block;
    padding: 15px 12px;
    margin: -15px;
	margin-right:5px;
    width: 40px;
    border-right: 1px solid #e5e5e5;
    color: #777;
    background: none repeat scroll 0px 0px rgba(200, 200, 200, 0.1);
    font-size: medium;
}
.skin-blue .sidebar > .sidebar-menu > li.active > a {
    color: #222;
    background: none repeat scroll 0% 0% #F9F9F9;
    border-bottom: 1px solid #e5e5e5;
}
.sidebar .sidebar-menu .treeview-menu > li > a {
    display: block;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-left: 1px dotted #DDD;
    padding: 5px;
    margin-left: 38px !important;
}
.form-control {
	border-radius:0px!important;
}
.input-search {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px!important;
	border-bottom-left-radius: 5px!important;
	border-top-right-radius: 0px!important;
	border-bottom-right-radius: 0px!important;
	border-right:0;
}
